h1 {
    background-color: cornflowerblue;
    font-style: normal;
    font: bold;
    font-size: large;
    font-family: inherit;
    color: black;
    align-content: center;
    align-self: center;
}

body {
    background-color: cornflowerblue;
    font-style: normal;
    font: normal;
    font-size: inherit;
    color: black;
    align-content: center;
    table-layout: auto;
}

table {
    background-color: slategray;
    font-style: normal;
    font: inherit;
    font-size: initial;
    color: black;
    align-content: center;
    align-items: flex-start;
}